extends layout

append head
  script(type="text/javascript", src="/javascripts/pick.js")

append body
  div pick!
    h1 Welcome #{user}!
    if has_picked
      h2 You've picked for this week, good luck!
    else
      h2 Reorder the contestants to make your picks for week #{curweek}!
    p contestants
    form(method="post")
      ul#contestants(class=has_picked ? "" : "sortable")
        each contestant in contestants
          li=contestant
            unless has_picked
              input(type="hidden", name="pick", value=contestant)
      unless has_picked
        input(type="submit")
  a(href="?flush=1") flush